[data-anchor=section-contact] .half {
  width: 50%;
  float: left;
  overflow-x: hidden;
}
[data-anchor=section-contact] ul {
  list-style-type: none;
}
[data-anchor=section-contact] ul a {
  text-decoration: none;
  transition: all 1s ease-in-out;
}
[data-anchor=section-contact] ul a:hover {
  transition: all 0.3s ease-in-out;
}
[data-anchor=section-contact] ul div {
  padding: 3vh 3vw;
}
[data-anchor=section-contact] ul div svg {
  vertical-align: middle;
}
[data-anchor=section-contact] ul div span {
  padding-left: 2vmin;
  vertical-align: middle;
}
[data-anchor=section-contact] form input, [data-anchor=section-contact] form textarea {
  border: none;
  font-size: 3vmin;
  font-family: Lato, sans-serif;
  border-bottom: 0.5vmin solid black;
  transition: 0.3s ease-in-out;
  background: none;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
}
[data-anchor=section-contact] form textarea {
  resize: vertical;
}
[data-anchor=section-contact] form input:focus, [data-anchor=section-contact] form textarea:focus {
  outline: none;
}
[data-anchor=section-contact] form button {
  font-size: 3vmin;
  font-family: Lato, sans-serif;
  border: none;
  padding: 1.5vh 3.5vw;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
[data-anchor=section-contact] form div {
  padding: 2vh 2vw;
}
[data-anchor=section-contact] ::placeholder {
  transition: 1s ease-in-out;
}

.App[theme=dark] [data-anchor=section-contact] ul a {
  color: white;
}
.App[theme=dark] [data-anchor=section-contact] ul a:hover {
  color: var(--dark-accent2);
}
.App[theme=dark] [data-anchor=section-contact] form input, .App[theme=dark] [data-anchor=section-contact] form textarea {
  border-bottom-color: var(--dark-accent1);
  color: white;
}
.App[theme=dark] [data-anchor=section-contact] form input:focus, .App[theme=dark] [data-anchor=section-contact] form textarea:focus {
  border-bottom-color: var(--dark-accent2);
}
.App[theme=dark] [data-anchor=section-contact] button {
  background: var(--dark-accent1);
}
.App[theme=dark] [data-anchor=section-contact] button:hover {
  background: var(--dark-accent2);
}
.App[theme=dark] [data-anchor=section-contact] ::placeholder {
  color: var(--dark-accent5);
}

.App[theme=light] [data-anchor=section-contact] ul a {
  color: black;
}
.App[theme=light] [data-anchor=section-contact] ul a:hover {
  color: var(--lv2-accent5);
}
.App[theme=light] [data-anchor=section-contact] form input, .App[theme=light] [data-anchor=section-contact] form textarea {
  border-bottom-color: var(--lv2-accent4);
  color: black;
}
.App[theme=light] [data-anchor=section-contact] form input:focus, .App[theme=light] [data-anchor=section-contact] form textarea:focus {
  border-bottom-color: var(--lv2-accent5);
}
.App[theme=light] [data-anchor=section-contact] button {
  background: var(--lv2-accent4);
}
.App[theme=light] [data-anchor=section-contact] button:hover {
  background: var(--lv2-accent5);
}

.App[theme=vaporwave] [data-anchor=section-contact] ul a {
  color: var(--vaporwave-accent9);
}
.App[theme=vaporwave] [data-anchor=section-contact] div:hover {
  background: rgba(0, 0, 0, 0.2);
}
.App[theme=vaporwave] [data-anchor=section-contact] form input, .App[theme=vaporwave] [data-anchor=section-contact] form textarea {
  border-bottom-color: var(--vaporwave-accent6);
  color: black;
}
.App[theme=vaporwave] [data-anchor=section-contact] form input:focus, .App[theme=vaporwave] [data-anchor=section-contact] form textarea:focus {
  border-bottom-color: var(--vaporwave-accent7);
}
.App[theme=vaporwave] [data-anchor=section-contact] button {
  border: 2px solid var(--vaporwave-accent6);
  background: transparent;
  border-radius: 10px;
  color: var(--vaporwave-accent6);
}
.App[theme=vaporwave] [data-anchor=section-contact] ::placeholder {
  color: var(--vaporwave-accent6);
}

/*# sourceMappingURL=contact.css.map */
