[data-anchor='section-intro'] {
  .intro-banner {
    width: 100vw;
    position: absolute;
    left: 0;
    top: calc(50% - 20vmin);
    text-align: center;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 10vmin;
  }

  .intro-picture {
    height: calc(100vh - 2px);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .intro-down {
    position: absolute;
    bottom: 2vh;
    left: calc(50% - 5vh);
    height: 10vh;
    width: 10vh;
    stroke-linecap: butt;
    stroke-opacity: .5;
  }
}
