:root {
  --dark-accent1: #61892F;
  --dark-accent2: #86C232;
  --dark-accent3: #222629;
  --dark-accent4: #474B4F;
  --dark-accent5: #6B6E70;
  --dark-accent6: #16191b;
  --light-accent1: #5680E9;
  --light-accent2: #84CEEB;
  --light-accent3: #5AB9EA;
  --light-accent4: #C1C8E4;
  --light-accent5: #8860D0;
  --lv2-accent1: #EAE7DC;
  --lv2-accent2: #D8C3A5;
  --lv2-accent3: #8E8D8A;
  --lv2-accent4: #E98074;
  --lv2-accent5: #E85A4F;
  --vaporwave-accent1: #9239F6;
  --vaporwave-accent2: #903495;
  --vaporwave-accent3: #6F3460;
  --vaporwave-accent4: #4A354F;
  --vaporwave-accent5: #D20076;
  --vaporwave-accent6: #FF0076;
  --vaporwave-accent7: #FF4373;
  --vaporwave-accent8: #FF6B58;
  --vaporwave-accent9: #F8B660;
}

.App {
  text-align: center;
  font-family: Lato, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: left;
  font-size: 7vmin;
  position: absolute;
  top: 2vmin;
  transition: 1s ease-in-out;
}

.section {
  padding: 0 11vw 0 5vw;
  transition: all 1s cubic-bezier(0.25, 0, 0.41, 1);
}


.App[theme="dark"] {
  .section {
    background: var(--dark-accent3);
    &:last-child {
      background: var(--dark-accent6);
    }
    h1 {
      color: white;
      &:first-letter {
        color: var(--dark-accent2);
      }
    }
  }
}

.App[theme="light"] {
  .section {
    background: var(--lv2-accent1);
    &:last-child {
      background: var(--lv2-accent2);
    }
    h1 {
      color: black;
      &:first-letter {
        color: var(--lv2-accent5);
      }
    }
  }
}

.App[theme="vaporwave"] {
  background: linear-gradient(var(--vaporwave-accent1) 0%, var(--vaporwave-accent2) 100%);
  .section {
    background: transparent;
    h1 {
      color: var(--vaporwave-accent8);
      &:first-letter {
        color: var(--vaporwave-accent7);
      }
    }
  }
}